[Desktop Entry]
Type=Application
Name=CPU Increase
Exec=~/scripts/__openbox_cpufreq_dynamic.sh 800 +200
Icon=/home/vermaden/.icons/vermaden/cpu_H.png

